<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/gallery.css" type="text/css" />

    <script type="text/javascript" src="/scripts/app.js"></script>

    <%- include('partials/_head') %>

    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin=""
    />
    <script
      src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
      integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
      crossorigin=""
    ></script>
  </head>

  <body>
    <%- include('partials/_header') %>

    <div class="gallery">
      <% for(let map of gallerymaps) { %> <<<<<<< HEAD
      <a class="map-box" href="/maps/<%= gallerymaps[map]['id'] %>">
        <div class="pic">
          <img
            src="https://images.unsplash.com/photo-1553864250-05b20249ee0c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bWFwc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=300&q=60"
          />
        </div>
        <div class="map-name"><%= gallerymaps[map]['name'] %></div>
      </a>
      =======
      <a class="map-box" href="/maps/<%= map['id'] %>">
        <div class="pic">
          <img
            src="https://images.unsplash.com/photo-1553864250-05b20249ee0c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bWFwc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=300&q=60"
          />
          <div class="bottom-box">
            <div class="map-name"><%= map['name'] %></div>

            <i
              class="fas fa-heart"
              id="hort"
              style="color:<%=map.favorited ? 'rgb(175, 32, 32)' : 'lightgray' %>;"
            ></i>
          </div>
        </div>
      </a>
      >>>>>>> 6a44e90af903e3a10c94bee61b48d52ee109c3de <% } %>
    </div>
    <%- include('partials/_foot-scripts') %> <%- include('partials/_footer') %>
  </body>
</html>
