<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <%- include('partials/_head') %>
  </head>

  <body>
    <%- include('partials/_form-modal') %>
    <header><%- include('partials/_header') %></header>
    <div id="mapid"></div>
    <%- include('partials/_foot-scripts') %> <%- include('partials/_footer') %>
  </body>
</html>
