<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Create Map</title>

    <%- include('partials/_head') %>
  </head>

  <body>
    <header><%- include('partials/_header') %></header>

    <main data-id="id">
      <div class="main_container">
        <div class="search_bar">
          <form class="form-inline my-2 my-lg-0">
            <input
              class="form-control mr-sm-2 search_input"
              type="search"
              placeholder="Search A Location"
              aria-label="Search "
            />
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
              Search
            </button>
          </form>
        </div>
      </div>
      <div class="map-creator">
        <div class="side-bar__new-map">
          <div class="side-bar__header">
            <div><%= mapName[0]['name'] %></div>
            <div><%= user %></div>
            <h5>Pins</h5>
                      <% for(let pin in pins) { %>
                          <div class="map-name"><%= pins[pin]['title'] %></div>
                      <% } %>

          </div>
        </div>
        <div id="mapid"></div>
      </div>
    </main>

    <%- include('partials/_foot-scripts') %> <%- include('partials/_footer') %>
    <script type="text/javascript" src="/scripts/getMap.js"></script>
  </body>
</html>
