<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Create Map</title>

    <%- include('partials/_head') %>
       <head>
        <link
          rel="stylesheet"
          href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""
        />

  </head>

  <body>
    <header><%- include('partials/_header') %></header>

    <main data-id="id">
      <div class="main_container">

        <div class="top-box">
          <div class="mid-box">
          <i class="fas fa-heart" id= "hrt" style="color:<%= (mapVar === 1) ? 'rgb(175, 32, 32)' : 'lightgrey' %>;" ></i>
          <label>Favorite Me</label>
         </div>

          <div class="fav-button"></div>

          <div class="alert alert-danger" role="alert" id="empty-search">
            Please enter a valid address to search!
          </div>

          <form class="form-inline my-2 my-lg-0" id="search-form">
            <input
              class="form-control mr-sm-2 search_input"
              id="search-bar"
              name="location"
              type="search"
              placeholder="Search A Location"
              aria-label="Search"
            />
            <button class="btn btn-outline-success my-2 my-sm-0" type="button" id="search-button">
              Search
            </button>

          </form>

        </div>
      </div>
      </div>
      <div class="map-creator">
        <div class="side-bar__new-map">
          <div class="side-bar__header">
            <div class="m-name"><%= mapName %></div>
            <table class="pins-table">
              <thead class="tab-head">
                <tr>
                  <th scope="col">Pins</th>

                </tr>
              </thead>
              <tbody class="pintab">
                <% for(let pin of pins) { %>
                  <tr class="pin-name" data-id="<%= pin.id %>" data-title="<%= pin.title %>">
                    <td class="map-name" data-id="<%= pin.id %>"><%=pin.title%>
                      <i class="far fa-edit"></i>
                      <i class="far fa-trash-alt"></i>
                      <div id="<%= pin.id %>"  class="hidden-inputs">
                        <input class="new-pin" type="text" value="<%= pin.title %>"/>
                        <button class="btn btn-primary addBtn" data-div="<%= pin.id %>">Save</button>
                      </div>
                    </td>
                  </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
        <div id="mapid"></div>
      </div>
    </main>

    <%- include('partials/_foot-scripts') %> <%- include('partials/_footer') %>

        <script
          src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
          integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
          crossorigin=""
        ></script>
  </body>
</html>

