
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <%- include('partials/_head') %>
  </head>

  <body>
    <%- include('partials/_header') %>
    <div class="user-bit"><h4><%= userInfo[0]['name'] %></h4></div>


    <div class="table-box">
    <table class="favs-table">
      <thead class="tab-head">
        <tr>
          <th scope="col">Favorite Maps</th>
        </tr>
      </thead>
      <tbody>
        <% for(let i = 0; i<favs.length; i++) { %>
          <tr>
            <td class ="tabrow"><%= favs[i]['name'] %></td>
          </tr>
        <% } %>
      </tbody>
    </table>


    <table class="contribs-table">
      <thead class="tab-head">
        <tr>
          <th scope="col">Map Contributions</th>
        </tr>
      </thead>
      <tbody>
        <% for(let i = 0; i<contribs.length; i++) { %>
          <tr>
            <td class ="tabrow"><%= contribs[i]['name'] %></td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>


  </body>
</html>
